[Unit]
Description=VMware Workstation Services
Requires=vmware_vmmon.service
Wants=vmware_vmci.service
Wants=vmware_vmsock.service
Wants=vmware_vmblock.service
Wants=vmware_vmnet.service
Wants=vmware_authentication.service
Wants=vmware_usb.service

[Install]
WantedBy=multi-user.target
