[Unit]
#--VMCI套接字服务;
Description=VMware Virtual Machine Communication Interface Socket Family
Requires=vmware_vmci.service
After=vmware_vmci.service
PartOf=vmware.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/sbin/modprobe vsock
ExecStop=/sbin/modprobe -r vsock

[Install]
WantedBy=vmware.target
